:root{
  --Bright-orange:hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  
  --Transparent-white-paragraphs:hsla(0, 0%, 100%, 0.75);
  --Very-light-gray-background-headings-buttons:hsl(0, 0%, 95%);
  --shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  --White: hsl(0, 0%, 100%);
}
.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Very-light-gray-background-headings-buttons);
}
.container .container-content{
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: var(--shadow);
}
.container-content .box-itens{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}
.sedans-box{
  background-color: var(--Bright-orange);
  color: var(--Bright-orange);
  border-radius: 10px 0px 0px 10px;
}
.suvs-box{
  background-color: var(--Dark-cyan);
  color: var(--Dark-cyan);
}
.luxury-box{
  background-color: var(--Very-dark-cyan);
  color: var(--Very-dark-cyan);
  border-radius: 0px 10px 10px 0px;
}
.box-itens .icon-cars{
  height: 40px;
}
.box-itens .title{
  font-family: 'Big Shoulders Display', sans-serif;
  font-size: 2.5rem;
  margin: 25px 0px;
  font-weight: 700;
  color: var(--Very-light-gray-background-headings-buttons);
  flex-basis: 200px;
}
.box-itens .description{
  font-family: 'Lexend Deca', sans-serif;
  font-size: 0.9rem;
  color: var(--Transparent-white-paragraphs);
  font-weight: 400;
  margin-bottom: 5rem;
  line-height: 25px;
  flex-basis: 300px;
}
.box-itens .button-learn-more{
  font-family: 'Lexend Deca', sans-serif;
  background-color:var(--Very-light-gray-background-headings-buttons);
  border-radius: 20px;
  border: 2px solid var(--Very-light-gray-background-headings-buttons);
  width: 130px;
  padding: 10px 5px;
  cursor: pointer;
  transition: 0.4s;
}
.sedans-button{
  color: var(--Bright-orange);
}
.suvs-button{
  color: var(--Dark-cyan);
}
.luxury-button{
  color: var(--Very-dark-cyan);
}
.suvs-button:hover{
  background-color: var(--Dark-cyan);
  color: var(--Very-light-gray-background-headings-buttons);
}
.luxury-button:hover{
  background-color: var(--Very-dark-cyan);
  color: var(--Very-light-gray-background-headings-buttons);
}
.attribution {
  font-family: 'Lexend Deca', sans-serif;
  position: relative;
  bottom: 60px;
  font-size: 0.688rem;
  text-align: center;
  color: var(--Dark-cyan);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 500px){
  .container{
    height: 200vh;
  
    background-color: var(--Very-light-gray-background-headings-buttons);
  }
  .container .container-content{
    width: 350px;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: var(--shadow);
  }
  .container-content .box-itens{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
  }
  .sedans-box{
    border-radius: 10px 10px 0px 0px;
  }
  .luxury-box{

    border-radius: 0px 0px 10px 10px;
  }
  .box-itens .description{
    flex-basis: 220px;
    margin-bottom: 2rem;
  }
  .box-itens .button-learn-more{
    width: 140px;
    padding: 13px;
  
  }
}
/*
font-family: 'Big Shoulders Display', sans-serif;
font-family: 'Lexend Deca', sans-serif;
*/